.l-Align .ant-spin-container,
.l-Align .ant-list-items {
  display  : flex;
  flex-flow: row wrap;
  width    : 100%;
  align-content: center
}

.l-Align {

  &.row .ant-spin-container,
  &.row .ant-list-items {
    flex-direction: row;
    align-items: center;
  }

  &.row-reverse .ant-spin-container,
  &.row-reverse .ant-list-items {
    flex-direction: row-reverse;
    align-items: center;
  }
  &.column .ant-spin-container,
  &.column .ant-list-items {
    flex-direction: column;
  }

  &.column-reverse .ant-spin-container,
  &.column-reverse .ant-list-items {
    flex-direction: column-reverse;
  }
  

  &.left .ant-spin-container,
  &.left .ant-list-items {
    justify-content: flex-start;
  }

  &.center .ant-spin-container,
  &.center .ant-list-items {
    justify-content: center;
  }

  &.right .ant-spin-container,
  &.right .ant-list-items {
    justify-content: flex-end;
  }

  &.average .ant-spin-container,
  &.average .ant-list-items {
    justify-content: space-between;

    .l-AlignItem {
      flex: 1;
    }
  }

  &.leftAndLastRight .ant-spin-container,
  &.leftAndLastRight .ant-list-items {
    justify-content: flex-start;

    .l-AlignItem:last-child {
      width             : 100%;
      // flex           : 1;
      display           : flex;
      justify-content   : flex-end;
    }
  }

  &.leftAndLastCenter .ant-spin-container,
  &.leftAndLastCenter .ant-list-items {
    justify-content: flex-start;

    .l-AlignItem:last-child {
      width             : 100%;
      // flex           : 1;
      display           : flex;
      justify-content   : center;
    }
  }

  &.rightAndLastLeft .ant-spin-container,
  &.rightAndLastLeft .ant-list-items {
    justify-content: flex-end;

    .l-AlignItem:last-child {
      width             : 100%;
      // flex           : 1;
      display           : flex;
      justify-content   : flex-start;
    }
  }

  &.rightAndLastCenter .ant-spin-container,
  &.rightAndLastCenter .ant-list-items {
    justify-content: flex-end;

    .l-AlignItem:last-child {
      width             : 100%;
      // flex           : 1;
      display           : flex;
      justify-content   : center;
    }
  }

}